# Temporaire
05_reseau_neurones/
06_apprentissage/


#  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
backup/
Schema/
images/
.vscode
.history

*.log
*.html
*.gz

Articles/


# Data MNIST
# t10k-images-idx3-ubyte
# t10k-labels-idx1-ubyte
# train-images-idx3-ubyte
# train-labels-idx1-ubyte
*-ubyte
*/lol.py


#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~	
# Spam

*test*
*lol*
*xd*
*ptdr*
*mdr*